{{- if and (.Values.flinkKubernetesOperator) (.Values.flinkKubernetesOperator.enable) -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: flink-kubernetes-operator
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.repoUrl }}
    path: add-ons/flink-kubernetes-operator
    targetRevision: {{ .Values.targetRevision }}
    helm:
      values: |
        flink-kubernetes-operator:
        {{- toYaml .Values.flinkKubernetesOperator | nindent 10 }}
      parameters:
      - name: flink-kubernetes-operator.watchNamespaces
        value: {{ .Values.watchNamespaces }}
      - name: flink-kubernetes-operator.operatorPodEnv
        value: {{ .Values.operatorPod.env }}
      - name: flink-kubernetes-operator.metricsPort
        value: {{ .Values.metrics.port }}
      - name: flink-kubernetes-operator.log4jOperatorProperties
        value: {{ .Values.defaultConfiguration.log4j-operator.properties }}
      - name: flink-kubernetes-operator.log4jConsoleProperties
        value: {{ .Values.defaultConfiguration.log4j-console.properties }}
        
      
  destination:
    server: https://kubernetes.default.svc
    namespace: flink-operator
  syncPolicy:
    automated:
      prune: true
    retry:
      limit: 1
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
{{- end -}}
    