# https://nightlies.apache.org/flink/flink-kubernetes-operator-docs-main/docs/operations/helm/
  flink-kubernetes-operator:
    operatorServiceAccount:
      create: true
    watchNamespaces:
    operatorPod.env:
      - name: TEST_ENV
        value: originalval

    metrics.port:

    defaultConfiguration:
      log4j-operator.properties:

      log4j-console.properties: